html {
  background-color: #efefef;
  font-size: .14rem;
}
.container {
  display: flex;
  flex-direction: column;
}
.scroll-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}